@CHARSET "UTF-8";

.left-arrow{
width: 30px;
height: 30px;
border-top: 8px solid #E3E3E3;
border-right: 8px solid #E3E3E3;
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.left-arrow:hover {
	border-top: 8px solid #585858;
	border-right: 8px solid #585858;
}